.forgot-password-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; /* Light background */
  }
  
  .forgot-password-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
  }
  
  .forgot-password-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .forgot-password-form {
    flex: 1;
    padding: 3rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  
  .forgot-password-form h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333333;
  }
  
  .forgot-password-form p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #555555;
  }
  
  .phone-input .country-code {
    margin-right: 0.5rem;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: #333333;
  }
  
  .btn-custom {
    background-color: navy !important;
    border-color: navy !important;
    color: white !important;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  .btn-custom:hover {
    background-color: #003366 !important;
    border-color: #003366 !important;
  }
  